{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{!include(/^styles/.*/)}}
{{!include(/^fonts/.*/)}}
{{!include(favicon.ico)}}
{{!include(logo.svg)}}
{{!include(search-stopwords.json)}}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
  {{>partials/head}}
  <body data-spy="scroll" data-target="#affix" data-offset="120">
    {{>partials/vvvvheader}}
    <div id="wrapper">
      <header class="sticky-top">
        {{^_disableNavbar}}
        {{>partials/navbar}}
        {{/_disableNavbar}}
      </header>
      {{#_enableSearch}}
      <div class="container body-content">
        {{>partials/searchResults}}
      </div>
      {{/_enableSearch}}
      <div role="main" class="container body-content hide-when-search">
      <div class="row">
      {{^_disableToc}}
        {{>partials/toc}}
        <div class="article col-md-9">
      {{/_disableToc}}
      {{#_disableToc}}
        <div class="article col">
      {{/_disableToc}}
      <div class="row">
          {{#_disableAffix}}
          <div class="col-md-12">
          {{/_disableAffix}}
          {{^_disableAffix}}
          <div class="col-lg-9">
          {{/_disableAffix}}
            <article class="content wrap pt-2 pb-2" id="_content" data-uid="{{uid}}">
              {{#contribution}}
                <div class="contribution">
                  {{#overview}}
                    {{! body}}
                  {{/overview}}
                  {{^overview}}
                    <h1>{{title}}</h1>
                    <xref uid="{{uid-meta}}" template="partials/contribution-meta.tmpl"/>
                    
                    <xref uid="{{uid-files}}" template="partials/contribution-files.tmpl"/>
                    
                    <h2 id="description">Description</h2>

                    {{#image}}
                      <div class="image">
                        <img src="{{image}}"/>
                      </div>
                    {{/image}}
                    
                    {{! body}}
                    
                    {{#comments}}
                      <h2 id="comments">Comments</h2>
                      <div class="comments">
                        {{#items}}
                          <xref uid="{{uid}}" template="partials/contribution-single-comment.tmpl"/>
                        {{/items}}
                      </div>  
                    {{/comments}}
                  {{/overview}}
                </div>
              {{/contribution}}
              {{^contribution}}
                {{!body}}
              {{/contribution}}
            </article>
          </div>
          {{^_disableAffix}}
          {{>partials/affix}}
          {{/_disableAffix}}
          </div>
        </div>
      </div>
      </div>
      {{^_disableFooter}}
      {{>partials/footer}}
      {{/_disableFooter}}
    </div>
    {{>partials/scripts}}
  </body>
</html>
