<div class="info">
    <table>
    <tr>
      <td class="key">Author:</td>
      <td>{{author}}</td>
    </tr>
    <tr>
      <td class="key">Date:</td>
      <td>{{date}}</td>
    </tr>
    <tr>
      <td class="key">Category:</td>
      <td>{{category}}</td>
    </tr>
    {{#credits}}
    <tr>
      <td class="key">Credits:</td>
      <td>{{{credits}}}</td>
    </tr>
    {{/credits}}
    </table>
</div>