/* Search results display*/
#search-results {
    max-width: 960px !important;
    margin-top: 120px;
    margin-bottom: 115px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.8;
    display: none;
  }
  
  #search-results>.search-list {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
  }
  
  #search-results p {
    text-align: center;
  }
  
  #search-results p .index-loading {
    animation: index-loading 1.5s infinite linear;
    -webkit-animation: index-loading 1.5s infinite linear;
    -o-animation: index-loading 1.5s infinite linear;
    font-size: 2.5rem;
  }
  
  @keyframes index-loading {
      from { transform: scale(1) rotate(0deg);}
      to { transform: scale(1) rotate(360deg);}
  }
  
  @-webkit-keyframes index-loading {
      from { -webkit-transform: rotate(0deg);}
      to { -webkit-transform: rotate(360deg);}
  }
  
  @-o-keyframes index-loading {
      from { -o-transform: rotate(0deg);}
      to { -o-transform: rotate(360deg);}
  }
  
  #search-results .sr-items {
    font-size: 24px;
  }
  
  .sr-item {
    margin-bottom: 25px;
  }
  
  .sr-item>.item-href {
    font-size: 14px;
    color: #093;
  }
  
  .sr-item>.item-brief {
    font-size: 13px;
  }
  
  .pagination>li>a {
    color: #47A7A0
  }
  
  .pagination>.active>a {
    background-color: #47A7A0;
    border-color: #47A7A0;
  }

  #wrapper{
    display: flex;
    flex-flow: column;
    height: 100%;
  }