body {
    overflow-y: scroll;
    line-height: 1.6;
  }

h1, h2, h3 {
    font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
    font-weight: 100;
}

h1 {
    margin-bottom: 0.7em;
}

a {
    color: #0071BC;
}

a:hover
{
    text-decoration: underline;
}
  
.node
{
    padding: 0em 0.3em;
    font-weight: bold;
    color: #555;
    /* background-color: #eeeeee; */
    /* border-radius: 0.2em; */
}

.node::after
{
    content: "NODE";
    font-weight: normal;
    font-size: 0.7em;
    margin-left: 0.5em;
    padding: 0.1em 0.4em;
    background-color: #eaeaea;
}

.user
{
    padding: 0em 0.3em;
}

.user a
{
    color: #e28b27;
}

.user::after
{
    content: "USER";
    font-size: 0.7em;
    margin-left: 0.5em;
    padding: 0.1em 0.4em;
    background-color: #fdc98d;
}

.toc .level1 > li
{
    font-weight: normal;
    margin-top: 10px;
    position: relative;
    font-size: 1.4em;
}

.toc .level2 > li
{
    padding: 0.3em 0em;
    font-size: 0.9em;
}

.toc .nav > li.active > a
{
    font-weight: bold;
}